<% if flash[:message] %>
    <p class="alert"><%= flash[:message] %></p>
<% end %>

<p>Please login to activate your account.</p>

<%= form_tag "/auth/activate", {:method => "post", :id => "login-form"} do %>
    <%= text_field_tag "email", "", :class => "", :placeholder => "Email" %>
    <%= password_field_tag "temp_password", "", :class => "", :placeholder => "Password" %>
    <%= submit_tag "Login", :class => "btn btn-primary" %>
<% end %>