<% if flash[:message] %>
    <p class="alert"><%= flash[:message] %></p>
<% end %>

<p>This is the first time you login system, please change your password to finish the activation.</p>

<%= form_tag "/auth/set_password", {:method => "post", :id => "login-form"} do %>
    <%= password_field_tag "password1", "", :class => "", :placeholder => "Password" %>
    <%= password_field_tag "password2", "", :class => "", :placeholder => "Re-enter password" %>
    <%= submit_tag "Activate", :class => "btn btn-primary" %>
<% end %>