
<div class="container">
  <div class="row">
    <div class="span12 center-container">

      <% if flash[:message] %>
          <div class="alert">
            <%= flash[:message] %>
          </div>
      <% end %>

      <%= form_tag({:action => "create"}, :multipart => true, :class => "form-horizontal") do %>
          <div class="control-group">
            <label class="control-label" for="">Payroll for</label>
            <div class="controls">
              <%= select_year Date.today, {:start_year => (Time.now.year - 1), :end_year => (Time.now.year + 1)}, {:class => "span2"}  %>
              <%= select_month Date.today, {:add_month_numbers => true, :use_short_month => true}, {:class => "span2"} %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="file">Payroll file</label>
            <div class="controls">
              <%= file_field_tag :file, :class => "" %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Upload</button>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>