
<div class="container">
  <div class="row">
    <div class="span12 center-container">

      <% if flash[:message] %>
          <div class="alert">
            <%= flash[:message] %>
          </div>
      <% end %>

      <%= form_tag "/admin/password", {:method => "post", :id => "password-form", :class => "form-horizontal"} do %>
        <div class="control-group">
          <label class="control-label" for="old_password">Old password</label>
          <div class="controls">
            <%= password_field_tag "old_password", "", :class => "", :placeholder => "" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="new_password1">New password</label>
          <div class="controls">
            <%= password_field_tag "new_password1", "", :class => "", :placeholder => "" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="new_password2">Re-enter new password</label>
          <div class="controls">
            <%= password_field_tag "new_password2", "", :class => "", :placeholder => "" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>